<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title_block %}
           Questionable: Logout
{% endblock %}
{% block body_block%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Change Password</h3>
            <p class="card-text">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Update Password">
                </form>
            </p>
            <a href="{% url 'main:profile' %}" class="btn btn-primary">Cancel</a>
        </div>
    </div>  
</div>
{% endblock %}