<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <h1>{{ user.username }}'s Profile</h1> 
            {{ user.username }}
            {{ user.id }}
            {{ user.email }}
           <img src="/static/images/{{ user.profile.picture }}" alt=""/> 
           
            <br />
            <a href="{% url 'main:index' %}">Return to index</a>



            <form method="POST" action="">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" value="Update">
            </form>
    </body>
</html>