<!doctype html>

{% extends 'main/base.html' %}
{% load staticfiles %}

    
	{% block title_block %}
	Questionable
	{% endblock %}

<body>

<div>
{% block banner_block %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Courses</h2>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	{% endblock %}
</div>


	{% block body_block %}
    <div class="popular_courses lite_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main_title">
                        <h2>Courses</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single course -->
                <div class="col-lg-3 col-md-6">
                    <div class="single_course">
                        <div class="course_head overlay">
                              <img class="img-fluid w-100" src="{% static 'images/trainer1.jpg' %}" alt="">
                            <div class="authr_meta">
                                <span>Professor Jameson</span>
                            </div>
                        </div>
                        <div class="course_content">
						<div>
						{% if course %}
                            <h4> {{course.name}} </h4>
							{% if courses %}
							<ul>
								{% for course in courses %}
							<li><a href="{{ course_details.url }}">{{course.name}}</a></li>
							{% endfor %}
							</ul>
							{else}
							<strong> No course to display </strong>
							{% endif %}
						{% else %}	
					The specified course does not exist
						{% endif %}
                        </div>
                    </div>
                </div>
                <!-- single course -->
                <div class="col-lg-3 col-md-6">
                    <div class="single_course">
                        <div class="course_head overlay">
                            <img class="img-fluid w-100" src="{% static 'images/trainer1.jpg' %}" alt="">
                            <div class="authr_meta">
                                <span>Dr K.Mackenzie</span>
                            </div>
                        </div>
                        <div class="course_content">
                            <h4>
                                <a href="course-details.html">Internet Technology</a>
                            </h4>
                            
                            <div class="course_meta d-flex justify-content-between">
                                <div>
                                    <span class="meta_info">
                                        <a href="#">
                                            <i class="lnr lnr-user"></i>355
                                        </a>
                                    </span>
                                    <span class="meta_info"><a href="#">
                                            <i class="lnr lnr-bubble"></i>35
                                        </a></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single course -->
                <div class="col-lg-3 col-md-6">
                    <div class="single_course">
                        <div class="course_head overlay">
                           <img class="img-fluid w-100" src="{% static 'images/trainer1.jpg' %}" alt="">
                            <div class="authr_meta">
                                <span>Professor P.Andrews</span>
                            </div>
                        </div>
                        <div class="course_content">
                            <h4>
                                <a href="course-details.html">Crytopgraphy</a>
                            </h4>
                            
                            <div class="course_meta d-flex justify-content-between">
                                <div>
                                    <span class="meta_info">
                                        <a href="#">
                                            <i class="lnr lnr-user"></i>355
                                        </a>
                                    </span>
                                    <span class="meta_info"><a href="#">
                                            <i class="lnr lnr-bubble"></i>35
                                        </a></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single course -->
                <div class="col-lg-3 col-md-6">
                    <div class="single_course">
                        <div class="course_head overlay">
                            <img class="img-fluid w-100" src="{% static 'images/trainer1.jpg' %}" alt="">
                            <div class="authr_meta">
                                <span>Dr L.Matthews</span>
                            </div>
                        </div>
                        <div class="course_content">
                            <h4>
                                <a href="course-details.html">Machine Learning</a>
                            </h4>
                           
                            <div class="course_meta d-flex justify-content-between">
                                <div>
                                    <span class="meta_info">
                                        <a href="#">
                                            <i class="lnr lnr-user"></i>355
                                        </a>
                                    </span>
                                    <span class="meta_info"><a href="#">
                                            <i class="lnr lnr-bubble"></i>35
                                        </a></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endblock %}
    