<!doctype html>

{% extends 'main/base.html' %}
{% load staticfiles %}

	{% block title_block %}
	Questionable
	{% endblock %}

	{% block body_block %}
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <h2 class="title">Course: {{ course.name }}</h2>
                    <div class="main_image">
                        <img class="img-fluid" src="{% static 'images/course-details.jpg' %}" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title">Outline</h4>
                        <p>{{ course.bio }}</p>
                        <div class="content">
                             <!--================ Course description to go here =================-->
                        </div>
                        <h4 class="title">Lectures</h4>
                        <div class="content">
                            <ul class="course_list">
                                {% if lectures %}
                                    {% for lecture in lectures %}
                                    <li class="justify-content-between d-flex">
                                        <div>
                                            <a href="/main/course/{{ course.slug }}/lecutre/{{ lecture.slug }}">
                                            <h6>{{ lecture.name }}</h6>
									        </a>
                                    </div>
                                    <a class="primary-btn text-uppercase" href="/main/course/{{ course.slug }}/lecture/{{ lecture.slug }}">View Questions</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 right-contents">
                    <h4 class="title">Forums</h4>
                    <ul class="course_list">
                        {% if forums %}
                        {% for forum in forums %}
                        <a href="/main/course/{{ course.slug }}/forum/{{ forum.slug }}"><li class="justify-content-between d-flex">{{ forum.name }}</li></a>
                    </ul>
                        {% endfor %}
                        {% endif %}
                     
                        
                    
                    </div>
        </div>
        </div>
        </div>
    </section>
	{% endblock %}
