<!doctype html>

{% extends 'main/base.html' %}
{% load staticfiles %}
    
	{% block title_block %}
	Questionable
	{% endblock %}



	{% block body_block %}
			<!--================ Start Home Banner Area =================-->
			<div>

				<section class="home_banner_area">
					<div class="banner_inner">
						<div class="container">
							<div class="row">
								<div class="col-lg-6">
									<div class="banner_content">

											<h3 style="color: whitesmoke; text-shadow: 2px 2px grey;">Welcome to Questionable <br />Creating a community of learners.</h3>

									</div>
		
								</div>
							</div>
						</div>
					</div>
				</section>
		
			</div>
			<!--================ End Home Banner Area =================-->
	<!--================ Start Feature Area =================-->
	<section class="feature_area">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-lg-4">

					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="lnr lnr-book"></span>
						</div>
						<div class="desc">
							<h4>New Questions</h4> 
							<div>
							{% if newquestions %}
								<ul>
								{% for question in newquestions %}
								<li><a href="{% url 'main:lecture' question.lecture.course.slug question.lecture.slug %}">{{question.title}}</a></li>
								{% endfor %}
									
							{% else %}
								<strong> There are no questions </strong>
							{% endif %}
							</ul>
								</div>
							</div>
						</div>
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="fa fa-trophy"></span>
						</div>
						<div class="desc">
							<h4>Top Questions</h4>      
							<div>
							{% if questions %}
								<ul class="feature_box">
								{% for question in questions %}
									<li><a href="{% url 'main:lecture' question.lecture.course.slug question.lecture.slug %}">{{question.title}}</a></li>
									{% endfor %}
									</ul>
								{% else %}
							<strong> There are no questions </strong>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	{% endblock %}
