<!DOCTYPE html>

{% extends 'main/base.html' %}
{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lecture.css' %}">
</head>
<body>

{% block title_block %}
Profile
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row lightgray rounded">
         <div class="pl-5 pt-3">
            <div class="lecturetitle">{{ course.name }} - {{ lecture.name }}</div><br/>
         </div>
    </div>
    <div class="row bg-white rounded pl-5 pt-2 pb-2">

    </div>
    <div class="row breakline text-white rounded pl-5 pt-1 ml-5 mr-5">

    </div>
    <div class="row bg-white text-white rounded pl-5 pt-2 pb-2 ">

    </div>

<!--    loop through questions-->
    {% for question in questions %}
<!--        loop though questions: reply key: value pairs-->
        {% for q, replies in reply_dict.items %}

<!--            only select replies for current question-->
            {% if q == question.id %}

<!--            Add question title-->
            <div class="row lightgray rounded">
                 <div class="pl-5 pt-3" id="{{ question.id }}">
                    <div class="questiontitle">{{ question.title }} </div>
                    <div class="questioncontent mt-2">{{ question.question }}</div>
                     {% if is_tutor == True %}
                     <div class="questionauthor pt-2 pb-4">Posted by: {{question.user}}</div>
                     {% endif %}

<!--                     upvote button and votes count-->
                    {% for title, hasvoted in hasvoted_dict.items %}
                        {% if title == question.title %}
                            {% if is_student %}
                            <button type="button"
                                    class="btn btn-primary mb-2 mt-3 upvote"
                                    id="upvote-{{ question.id }}"
                                    data-questionid="{{ question.id }}"
                                    {% if hasvoted %} disabled {% endif %}>
                                Upvote
                            </button>
                            {% endif %}
                        {% endif %}
                     {% endfor %}


                     {% for title, count in upvote_dict.items %}
                        {% if title == question.title %}
                            <div class="upvotes" id="count-{{ question.id }}">Votes: {{ count }}</div><br/>
                        {% endif %}
                     {% endfor %}
                 </div>
            </div>

            <div class="row bg-white rounded pl-5 pt-2 pb-2">

            </div>

<!--            reply form-->
            {% if is_tutor == True %}
            <div class="row lightgray text-dark rounded pl-5 pt-3 pb-3 pr-5">
                <div class="col pt-2 writereply">Write Reply</div>
                <div class="col-8">
                <form id="reply_form-{{question.id}}"
                      method="post"
                      action="{% url 'main:create_reply' course.slug lecture.slug question.slug %}">
                    {% csrf_token %}
                    {% for hidden in reply_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in reply_form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                    </div>
                    <div class="col pt-2">
                    <input class="btn btn-secondary " type="submit" name="submit" value="Submit Reply" />
                    </div>
                </form>
            </div>
            <div class="row bg-white rounded pl-5 pt-2 pb-2">

            </div>
            {% endif %}
            {% if replies %}

<!--            Loop over and add replies-->

            <div class="row lightgray text-dark rounded pl-5 pt-3 pb-3 pr-5 showreplies"
                 id="showreplies-{{ question.id }}"
                     data-questionid="{{ question.id }}">
                <div class="container">

                    <div class="row" }><h5 class="answer-{{ question.id }}">Answer (Click to view)</h5></div>

                    {% for reply in replies %}
                    <div class="row hidden replies-{{ question.id }}"><h6>{{ reply.user}}:</h6></div>
                    <div class="row hidden replies-{{ question.id }}">{{ reply.reply }}</div>
                    <div class="row hidden replies-{{ question.id }}"><br></div>
                    {% endfor %}
                </div>
            </div>
            <div class="row bg-white text-white rounded pl-5 pt-2 pb-2">

            </div>
            {% endif %}


            {% endif %}
        {% endfor %}

        <div class="row breakline text-white rounded pl-5 pt-1 ml-5 mr-5">

        </div>
        <div class="row bg-white text-white rounded pl-5 pt-2 pb-2">

        </div>
    {% endfor %}

<!--    Submit question form-->
    {% if is_student == True %}
        <div class="row lightgray rounded pl-5 pt-2 pb-2">
            <div class="questiontitle">Submit a question:</div>
        </div>


        <div class="row lightgray text-dark rounded pl-5 pt-3 pb-3 pr-5">
        <form id="question_form" method="post" action="{% url 'main:create_question' course.slug lecture.slug %}">
            {% csrf_token %}
            {% for hidden in question_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in question_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input class="btn btn-secondary" type="submit" name="submit" value="Submit Question" />
        </form>
        </div>
    {% endif %}

    <div class="row bg-white rounded pl-5 pt-5 pb-5">

    </div>


</div>
{% endblock %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/upvote-ajax.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/lecture-jquery.js' %}" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>