<!doctype html>

{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title_block %}
User Management
{% endblock %}

{% block body_block%}
<div class="container">
    <div class="row">
        <div class="col-lg-3"><p></p></div>
        <div class="col-lg-6">
            <h3>List of Student Accounts</h3>
            <ul class="list-group">
                {% if users %}
                {% for user in users %}
                <li class="list-group-item">
                    <p>{{ user.user.username }}</p>
                    <form action="{% url 'main:set_role' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="selected_user" value="{{user.user}}"/>
                        <button type="submit" class="btn btn-primary mb-2">Upgrade to Lecturer </button>
                    </form>    
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-3"><p></p></div>
    </div>
</div>
{% endblock %}