<!doctype html>

{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title_block %}
User Management
{% endblock %}

{% block body_block%}
<div class="container course_details_area">
    <div class="row">
        <div class="col-lg-3">
            <p></p>

        </div>
        <div class="col-lg-6 course_details_left">
            <h3 class="title">List of Student Accounts</h3>
           <p><a href="{% url 'main:profile' %}">Return to profile</a></p> 
            <ul class="list-group">
                {% if users %}
                {% for user in users %}
                <li class="list-group-item">
                    
                    <form action="{% url 'main:set_role' %}" method="POST">
                        {% csrf_token %}
                        <h6>{{ user.user.username }}</h6>
                        <input type="hidden" name="selected_user" value="{{user.user}}"/>
                        <button type="submit" class="btn btn-primary">Upgrade to Lecturer </button>
                    </form>    
                </li>
                {% endfor %}
                {% endif %}
            </ul>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}