<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title_block %}
           Questionable: Update User
{% endblock %}
{% block body_block%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ user.username }}'s Profile</h3>
            <p class="card-text">
                <form method="post" action="{% url 'main:update_user' %}" enctype="multipart/form-data">
                    {% csrf_token   %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
            
                    {% endif %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Update">
                    
                </form>
            </p>
            <a href="{% url 'main:profile' %}"><button class="btn btn-primary">Cancel</button> </a>
        </div>
    

    <br />
    

    </div>    
</div>
{% endblock %}