<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title_block %}
           Questionable: Update User
{% endblock %}
{% block body_block%}
<div class="container">
    <h1>{{ user.username }}'s Profile</h1>
    <form method="post" action="{% url 'main:update_user' %}" enctype="multipart/form-data">
        {% csrf_token   %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>

        {% endif %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Update">

    </form>
    <br />
    <a href="{% url 'main:index' %}"><button>Return to index</button></a>
    <a href="{% url 'main:profile' %}"><button>Return to profile</button> </a>
</div>
{% endblock %}