/* For hiding elements*/
.hidden{ display:none;}

/* Color for lecturer replies */
.lightgray{
/*background-color: lightgray;*/
background-color: rgba(240, 240, 240, 0.9);
}

/* force white text */
.lecturetitle{
    color: black;
    font-size: 32pt;
}

.questiontitle{
    color: black;
    font-size: 20pt;
}

.questioncontent{
    color: black;
    font-size: 16pt;
}

.questionauthor{
    color: black;
    font-size: 12pt;
}

.writereply{
    color: black;
    font-size: 16pt;
}

.qhelptext{
    color: black;
    font-size: 20pt;
}

.breakline{
    background-color: rgba(0, 179, 0, 0.3);
}